<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<!-- <meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/> -->
	<!-- <script type="text/javascript" src="/js/countries.js"></script> -->
	<link rel="stylesheet" type="text/css" href="/css/countries.css" />
	<meta charset="UTF-8">
	<title>All Countries</title>
</head>

<body>
	<img src="/images/earth.png" style="width:40px; margin-bottom:-20px; z-index: 1;">
	<div class="logout">
		<div style="flex-grow: 1;"></div>
		<form method="post" action="/logout">
			<button type="submit">Logout</button>
		</form>
	</div>

	<div class="page-wrap">

		<section class="main-content">
			<h1>All Countries</h1>
			<div class="countries">
				<div class="single-country" th:each="c: ${countries}">
					<img class="country-flag" th:src="${c.flagImg.svg}">
					<a th:href="@{/country/{countryId} (countryId = ${c.id})}">
						<div th:text="${c.name.common}"></div>
					</a>
					<!-- <div th:text="${c.name.official}"></div> -->
					<div th:text="|Region: ${c.region}|"></div>
					<div th:text="|Population: ${c.population}|"></div>
					<!-- Ternary Operator for if landlocked
			
				If landlocked is true then display Yes, else display No -->
					<div>Landlocked: <div th:text="${c.landlocked} ? 'Yes' : 'No'"></div>
					</div>
					<!-- <div class="flag-emoji" th:text="${c.flag}"></div> -->
					<div>
						<form th:action="@{/country/{countryId} (countryId=${c.id})}" method="post">
							<input type="submit" id="dream-button" value="Dream" style="color: white; background-color: #2da4ff;">
						</form>
					</div>
				</div>
			</div>
		</section>

		<nav class="main-nav">
			<h2>Links</h2>
			<ul>
				<li><a href="/user">Profile</a></li>
			</ul>
		</nav>

		<aside class="main-sidebar">
			<h2>Sidebar</h2>
			<div class="github-link">
				<p style="margin-right: 5px;">Source Code:</p><a href="https://github.com/Tymiceli/TravelDreams-FullStackProject.git"><img id="github-icon" src="/images/github-icon.png"></a>
				</div>
		</aside>

	</div>
</body>

</html>