<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<link rel="stylesheet" type="text/css" href="/css/countries.css" />

		<title th:text="|${user.firstName}'s Country List|"></title>
	</head>
	<body>
	<a href="/home">Go Home</a> | <a href="/countries">See All Countries</a> | <a href="/profile">Update User Account</a>
	
		<div class="page-wrap">
	
			<section class="main-content">
				<h1>All Countries</h1>
				<div class="countries">
					<div class="single-country" th:each="c: ${user.countries}">
						<img class="country-flag" th:src="${c.flagImg.svg}">
						<a th:href="@{/country/{countryId} (countryId = ${c.id})}">
							<div th:text="${c.name.common}"></div>
						</a>
						<!-- <div th:text="${c.name.official}"></div> -->
						<div th:text="|Region: ${c.region}|"></div>
						<div th:text="|Population: ${c.population}|"></div>
						<!-- Ternary Operator for if landlocked
				
					If landlocked is true then display Yes, else display No -->
						<div>Landlocked: <div th:text="${c.landlocked} ? 'Yes' : 'No'"></div>
						</div>
						<!-- <div class="flag-emoji" th:text="${c.flag}"></div> -->
						<div>
							<form th:action="@{/user/{userId}/country/{countryId}/delete (userId = ${user.id}, countryId=${c.id})}" method="post">
								<input type="submit" value="Remove">
							</form>
						</div>
					</div>
				</div>
			</section>
	
			<nav class="main-nav">
				<h2>Nav</h2>
				<ul>
					<li><a href="/home">Home</a></li>
					<li><a href="/profile">Update User Account</a></li>
					<li><a href="/countries">See All Countries</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
			</nav>
	
			<aside class="main-sidebar">
				<h2>Sidebar</h2>
				<p>I am a rather effortless column of equal height.</p>
			</aside>
	
		</div>
		
	</body>
</html>