<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="/css/countries.css" />

	<title th:text="|${user.firstName}'s Country List|"></title>
</head>

<body>
	<img src="/images/earth.png" style="width:40px; margin-bottom:-20px; z-index: 1;">
	<!-- <h1>Welcome <span th:text="${user.firstName}"></span></h1> -->
	<div class="logout">
		<div style="flex-grow: 1;"></div>
		<form method="post" action="/logout">
			<button type="submit">Logout</button>
		</form>
	</div>

	<div class="page-wrap">

		<section class="main-content">
			<h1>Your Countries</h1>
			<div th:if="${#lists.size(user.countries) == 0}">
				<span>You have no countries in your list!</span>
			</div>
			
			<div class="countries">
				<div class="single-country" th:each="c: ${user.countries}">
					<img class="country-flag" th:src="${c.flagImg.svg}">
					<a th:href="@{/country/{countryId} (countryId = ${c.id})}">
						<div th:text="${c.name.common}"></div>
					</a>
					<div th:text="|Region: ${c.region}|"></div>
					<div th:text="|Population: ${c.population}|"></div>
					<!-- Ternary Operator for if landlocked
				
					If landlocked is true then display Yes, else display No -->
					<div>Landlocked: <div th:text="${c.landlocked} ? 'Yes' : 'No'"></div>
					</div>
					<div>
						<form
							th:action="@{/user/{userId}/country/{countryId}/delete (userId = ${user.id}, countryId=${c.id})}"
							method="post">
							<input type="submit" value="Remove">
						</form>
					</div>
				</div>
			</div>
		</section>

		<nav class="main-nav">
			<h2>Links</h2>
			<ul>
				<li><a href="/profile">Update User Account</a></li>
				<li><a href="/countries">See All Countries</a></li>
			</ul>
		</nav>

		<aside class="main-sidebar">
			<h2>Sidebar</h2>
			<div class="github-link">
				<p style="margin-right: 5px;">Source Code:</p><a
					href="https://github.com/Tymiceli/TravelDreams-FullStackProject.git"><img id="github-icon"
						src="/images/github-icon.png"></a>
			</div>
		</aside>

	</div>

</body>

</html>